:root {
  --color-base: #131515;
  --color-accent: #0297D4;
  --color-primary: #FFF5CC;
  --color-bg: #F3F6F9;
  --color-white: #FFFFFF;
  --base-size: 2rem;
  --base-font: 'SF Pro Text', Arial, Sans-serif;
}