section.advantages
    .container
        .advantages__wrapper
            .advantages__top
                h2.title.advantages__title Преимущества онлайн-сервиса ТутЭвакуатор.Ру
                p.advantages__text ТутЭвакуатор.Ру – это удобный сервис для тех, кому нужно недорого и быстро перевезти авто с техническими неисправностями или же с повреждениями, полученными при ДТП в Москве. <br><br> <strong>Воспользовавшись ТутЭвакуатор.Ру, вы сможете:</strong>
            .advantages__content
                ul.advantages__items
                    li.advantages__item
                        +icon('check')
                        | получить постоянный доступ к базе надежных перевозчиков Москвы — сервис работает всегда, вне зависимости от воскресных/праздничных дней
                    li.advantages__item
                        +icon('check')
                        | заказать эвакуатор круглосуточно — 24/7
                    li.advantages__item
                        +icon('check')
                        | выбрать самое экономически выгодное предложение — цены на эвакуационные услуги рыночные, разница может быть ощутимой
                    li.advantages__item
                        +icon('check')
                        | договориться с транспортной компанией напрямую — без посредников и комиссионных
                    li.advantages__item
                        +icon('check')
                        | осуществить эвакуацию авто недорого — без скрытых платежей, неучтенных расходов
                    li.advantages__item
                        +icon('check')
                        | вызвать эвакуатор в срочном порядке — охвачена Московская область, стоянки спецтехники базируются во многих районах Москвы, подача выполняется оперативно
            .advantages__image
                img(src="/img/man.png" alt="Воспользовавшись ТутЭвакуатор.Ру, вы сможете:")
        .advantages__inner.flex
            .advantages__cell
                h3.advantages__subtitle Как оплатить заказ на эвакуатор
                p.advantages__desc Услуги по эвакуации вы оплачиваете непосредственно исполнителю – транспортной компании, взявшейся за перевозку вашего ТС. Оплата производится по завершении эвакуации, после выгрузки авто в конечной точке в Москве. <br><br> Формы оплаты стандартные для Москвы: наличный/безналичный расчет или банковский перевод. Эварус не взимает комиссионные с клиентов за пользование сервисом.
            .advantages__cell
                h3.advantages__subtitle Как скоро прибудет эвакуатор
                p.advantages__desc При оформлении заказа перевозчик сообщит вам расчетное время прибытия эвакуатора в точку погрузки авто. Как правило, в Москве это происходит в течение 10-15 мин., но зависит от загруженности дорог Москвы и погодных условий. Перевозчик, принявший заказ, будет информировать вас о наличии дорожных пробок и возможной задержке подачи эвакуатора. Автопарки наших партнеров находятся во многих районах Москвы, поэтому мы рекомендуем вам выбрать ближайший эвакуатор, чтобы ускорить процесс транспортировки авто.