.banner
    .banner__bg.absolute
        img(src="/img/header_bg.jpg" alt="Здесь может быть ваш эвакуатор").object-fit
    .container
        .banner__inner
            .banner__icon
                img(src="/img/illustration.png" alt="illustration")
            h2.banner__title.title Здесь может быть ваш эвакуатор
            +btn('#').banner__btn Добавить объявление