section.cards
    .container
        .cards__items
            .card
                .card__top
                    h3.card__title Эвакуатор
                .card__main
                    .card__cell.card__cell_left
                        .card__image
                            img(src="/img/card_1.jpg" alt="Эвакуатор авто. Всегда на связи! Быстро и надежно").object-fit
                        ul.card__items
                            li.card__item
                                span Легковой автомобиль
                                strong 5 000 руб
                            li.card__item
                                span Мотоцикл (квадроцикл и т.д.)
                                strong 3 000 руб
                            li.card__item
                                span Внедорожник
                                strong нет
                            li.card__item
                                span Микроавтобус
                                strong нет
                            li.card__item
                                span Загородный тариф
                                strong 50 руб/км
                    .card__cell.card__cell_right
                        +btn('tel:+79999999').card__btn
                            +icon('phone')
                            | +7 999 99 99
                        +btn('tel:+79999999').card__btn
                            +icon('oldPhone')
                            | +7 999 99 99
                        .card__address
                            .card__address-location
                                +icon('map')
                                span Место стоянки
                            span.card__address-text Москва, ул Пушкина
                        a(href="#").card__link
                            span ID объявления 63
                            strong Заказать рекламу
                .card__bottom
                    span.card__text Эвакуатор авто. Всегда на связи! Быстро и надежно
            .card
                .card__top
                    h3.card__title Эвакуатор
                .card__main
                    .card__cell.card__cell_left
                        .card__image
                            img(src="/img/card_2.jpg" alt="Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.").object-fit
                        ul.card__items
                            li.card__item
                                span Легковой автомобиль
                                strong 4 000 руб
                            li.card__item
                                span Мотоцикл (квадроцикл и т.д.)
                                strong 3 000 руб
                            li.card__item
                                span Внедорожник
                                strong 4 000 руб
                            li.card__item
                                span Микроавтобус
                                strong 6 000 руб
                            li.card__item
                                span Загородный тариф
                                strong 50 руб/км
                    .card__cell.card__cell_right
                        +btn('tel:+79999999').card__btn
                            +icon('phone')
                            | +7 999 99 99
                        +btn('tel:+79999999').card__btn
                            +icon('oldPhone')
                            | +7 999 99 99
                        .card__address
                            .card__address-location
                                +icon('map')
                                span Место стоянки
                            span.card__address-text Москва, ул Пушкина
                        a(href="#").card__link
                            span ID объявления 63
                            strong Заказать рекламу
                .card__bottom
                    span.card__text Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.
            .card
                .card__top
                    h3.card__title Эвакуатор
                .card__main
                    .card__cell.card__cell_left
                        .card__image
                            img(src="/img/card_1.jpg" alt="Эвакуатор авто. Всегда на связи! Быстро и надежно").object-fit
                        ul.card__items
                            li.card__item
                                span Легковой автомобиль
                                strong 5 000 руб
                            li.card__item
                                span Мотоцикл (квадроцикл и т.д.)
                                strong 3 000 руб
                            li.card__item
                                span Внедорожник
                                strong нет
                            li.card__item
                                span Микроавтобус
                                strong нет
                            li.card__item
                                span Загородный тариф
                                strong 50 руб/км
                    .card__cell.card__cell_right
                        +btn('tel:+79999999').card__btn
                            +icon('phone')
                            | +7 999 99 99
                        +btn('tel:+79999999').card__btn
                            +icon('oldPhone')
                            | +7 999 99 99
                        .card__address
                            .card__address-location
                                +icon('map')
                                span Место стоянки
                            span.card__address-text Москва, ул Пушкина
                        a(href="#").card__link
                            span ID объявления 63
                            strong Заказать рекламу
                .card__bottom
                    span.card__text Эвакуатор авто. Всегда на связи! Быстро и надежно
            .card
                .card__top
                    h3.card__title Эвакуатор
                .card__main
                    .card__cell.card__cell_left
                        .card__image
                            img(src="/img/card_2.jpg" alt="Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.").object-fit
                        ul.card__items
                            li.card__item
                                span Легковой автомобиль
                                strong 4 000 руб
                            li.card__item
                                span Мотоцикл (квадроцикл и т.д.)
                                strong 3 000 руб
                            li.card__item
                                span Внедорожник
                                strong 4 000 руб
                            li.card__item
                                span Микроавтобус
                                strong 6 000 руб
                            li.card__item
                                span Загородный тариф
                                strong 50 руб/км
                    .card__cell.card__cell_right
                        +btn('tel:+79999999').card__btn
                            +icon('phone')
                            | +7 999 99 99
                        +btn('tel:+79999999').card__btn
                            +icon('oldPhone')
                            | +7 999 99 99
                        .card__address
                            .card__address-location
                                +icon('map')
                                span Место стоянки
                            span.card__address-text Москва, ул Пушкина
                        a(href="#").card__link
                            span ID объявления 63
                            strong Заказать рекламу
                .card__bottom
                    span.card__text Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.
        ul.cards__pagination.pagination
            li.pagination__item.is-disabled
                a(href="").pagination__link
                    +icon('arrow')
            li.pagination__item.is-active
                a(href="").pagination__link 1
            li.pagination__item
                a(href="").pagination__link 2
            li.pagination__item
                a(href="").pagination__link 3
            li.pagination__item
                a(href="").pagination__link 4
            li.pagination__item
                a(href="").pagination__link
                    +icon('arrow')