section.info
    .container
        .info__row
            .info__content
                h2.title.info__title Что необходимо сообщить при заказе эвакуатора
                p.info__text Чтобы выбрать эвакуатор с необходимыми техническими параметрами и минимизировать расходы, при вызове эвакуатора следует указать:
                ul.info__items
                    li.info__item
                        +icon('check')
                        | марку, модель, год выпуска и полную массу авто
                    li.info__item
                        +icon('check')
                        | характер неисправности ТС
                    li.info__item
                        +icon('check')
                        | состояние ходовой части, трансмиссии, рулевого управления
                    li.info__item
                        +icon('check')
                        | адрес подачи эвакуатора и пункт конечного назначения в Москве
                    li.info__item
                        +icon('check')
                        | наличие ключей от авто и документов, подтверждающих право на управление ТС (водительские права, техпаспорт и доверенность, если вы не собственник авто)
            .info__image.info__image_right
                img(src="/img/info_1.jpg" alt='Что необходимо сообщить при заказе эвакуатора').object-fit
        .info__row
            .info__image.info__image_left
                img(src="/img/info_2.jpg" alt='Как эвакуировать авто с заблокированными колесами').object-fit
            .info__content
                h2.title.info__title Как эвакуировать авто с заблокированными колесами
                p.info__text При помощи сервиса ТутЭвакуатор.Ру вы сможете вызвать эвакуатор в экстренных ситуациях, например, когда колеса авто заблокированы или ходовая ТС критически пострадала в результате аварии.
                p.info__text Перевозка автомобиля с заблокированными колесами возможна несколькими типами эвакуаторов:
                ul.info__items
                    li.info__item
                        +icon('check')
                        | Эвакуатор с манипулятором. На ТС устанавливают четыре колесных захвата, закрепленных на широких текстильных стропах. С помощью специальных петель оператор манипулятора регулирует длину строп, чтобы при перемещении на эвакуатор авто не кренилось. Стропы присоединяют
                        | к линейной или H-образной траверсе.
                        | Кран-манипулятор подхватывает траверсу
                        | за проушину, поднимает автомобиль
                        | и загружает на платформу эвакуатора.
                    li.info__item
                        +icon('check')
                        | Эвакуатор с гидроплатформой
                        | (без аппарелей) и лебедкой. Авто приподнимают домкратом,
                        | под заблокированные колеса устанавливают подкатные тележки. При помощи лебедки авто затягивают на наклонную платформу эвакуатора. После этого платформу эвакуатора приводят в горизонтальное положение.