section.inside
    .container
        .inside__top
            h2.title.inside__title Что входит в стоимость перевозки эвакуатором
            p.inside__text Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и выгрузке авто, а также по подаче эвакуатора в пункт дислокации ТС в Москве. <br><br> <strong>При формировании цены перевозчики берут в расчет четыре аспекта:</strong>
        .inside__items.flex
            .inside-item
                .inside-item__ellipse
                    .inside-item__icon
                        img(src="/img/inside_1.png" alt="Грузоподъемность эвакуатора")
                h3.inside-item__subtitle Грузоподъемность эвакуатора
                p.inside-item__text Чем мощнее эвакуатор, тем дороже обходится ее эксплуатация, ем внушительнее будет сумма к оплате эвакуации
            .inside-item
                .inside-item__ellipse
                    .inside-item__icon
                        img(src="/img/inside_2.png" alt="Предполагаемый пробег")
                h3.inside-item__subtitle Предполагаемый пробег
                p.inside-item__text Учитывается удаленность стоянки эвакуатора от местоположения ТС, расстояние между пунктами погрузки в Москве и выгрузки авто
            .inside-item
                .inside-item__ellipse
                    .inside-item__icon
                        img(src="/img/inside_3.png" alt="Дополнительное оборудование")
                h3.inside-item__subtitle Дополнительное оборудование
                p.inside-item__text При эвакуации машин с серьезными поломками перевозчики оснащают эвакуатор вспомогательными приспособлениями, что закономерно отражается на стоимости транспортировки.
            .inside-item
                .inside-item__ellipse
                    .inside-item__icon
                        img(src="/img/inside_4.png" alt="Уровень сложности")
                h3.inside-item__subtitle Уровень сложности
                p.inside-item__text При значительном повреждении автомобиля погрузочно-разгрузочные работы усложняются. Они требуют подключения водителя-оператора высокой квалификации