section.know
    .container
        h2.title.know__title Что нужно знать, чтобы заказать эвакуатор в Москве
        .know__inner
            .know__cell
                .know__image
                    img(src="/img/know_1.png" alt="")
                p.know__text Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ на эвакуатор, ознакомьтесь с информацией о транспортной компании, проконсультируйтесь с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
            .know__cell
                .know__image
                    img(src="/img/know_2.png" alt="")
                p.know__text Примите во внимание, что одни и те же виды эвакуаторов рассчитаны на транспортировку авто разных классов. Вопрос заключается лишь в том, какой тип эвакуатор будет выгоднее задействовать в вашем случае. Следуя рекомендациям перевозчика, вы сможете недорого эвакуировать авто как в Москве, так и в области.