section.price
    .container
        .price__inner
            .price__tabs
               a(href="#" data-tab="price-tab").price__tab.js-tab Стоимость
               a(href="#" data-tab="order-tab").price__tab.js-tab Как заказать
            .price__wrap
                .price__content.js-tab-content(id="price-tab")
                    h2.title.price__title Стоимость вызова эвакуатора для перевозки авто
                    p.price__text На сайте Эварус представлены цены, выставленные перевозчиками за стандартную услугу эвакуации авто по Москве и области. Начальная стоимость транспортировки зависит от габаритов и веса ТС: перевозка мотоцикла/малолитражки будет стоить дешевле, чем внедорожника/минивена. Дороже всего обойдется эвакуация неисправной спецтехники и грузового транспорта. <br><br> <strong>На стоимость услуги эвакуатора в Москве влияет ряд факторов:</strong>
                    ul.price__items
                        li.price__item
                            +icon('check')
                            | класс, масса, степень повреждения транспортируемого авто
                        li.price__item
                            +icon('check')
                            | первоначальное месторасположение ТС в Москве и дальность следования
                        li.price__item
                            +icon('check')
                            | сложность погрузочно-разгрузочных операций
                        li.price__item
                            +icon('check')
                            | дорожные и погодные условия Москвы
                    p.price__text Окончательная цена зависит от того, куда подавать эвакуатор и где впоследствии выгружать автомобиль: Москва это будет или Московская область. Транспортировка по МО оплачивается согласно прайсу, плюс тариф за каждый км пробега от МКАД. Суммарная оплата увеличится, если машина находится в кювете/яме/гараже/водоеме и подъезд к ней усложнен. Стоимость возрастет и при наличии заблокированных колес/рулевого управления или серьезного повреждения ТС. <br> Все нюансы эвакуации авто вы сможете обсудить с перевозчиком. Ознакомившись с конкретной ситуацией, он озвучит цену и сроки подачи эвакуатора. <br><br> <strong>В каких случаях возможно изменение стоимости услуги после прибытия эвакуатора к месту погрузки авто:</strong>
                    ul.price__items
                        li.price__item
                            +icon('check')
                            | простой эвакуатора по вине клиента
                        li.price__item
                            +icon('check')
                            | смена маршрута после размещения заказа
                        li.price__item
                            +icon('check')
                            | непредвиденное усложнение эвакуации из-за неправильных/неполных данных о ТС
                    p.price__text Во избежание незапланированных трат, сообщите диспетчерской службе подробные сведения о своем автомобиле и обстоятельствах его поломки.
                .price__content.js-tab-content(id="order-tab")
                    h2.title.price__title Стоимость вызова эвакуатора для перевозки авто
                    p.price__text Воспользовавшись онлайн-ресурсом Эварус, вы сократите время на поиск эвакуатора в Москве, МО и закажете услугу по оптимальной цене. Вам не придется обзванивать знакомых или долго искать телефон эвакуатора в интернете. Проанализируйте предложения на нашем сайте, выберите лучшие условия и стоимость перевозки. <br><br> <strong>Как вызвать эвакуатор с помощью онлайн-сервиса ТутЭвакуатор.Ру:</strong>
                    ul.price__items.price__items_counter
                        li.price__item
                            | Ознакомьтесь с картой Москвы и Московской области, на которой желтыми маркерами обозначены стоянки эвакуаторов.
                        li.price__item
                            | Увеличьте масштаб и определите, какой из адресов находится рядом с местом вашей дислокации
                        li.price__item
                            | Выберите ближайший эвакуатор и нажмите на соответствующий маркер
                        li.price__item
                            | Просмотрите детальную информацию о перевозчике: возможные способы погрузки ТС, комплектацию автопарка, типы транспортируемых авто прайс с ценами
                        li.price__item
                            | Кликните по голубому полю внизу карточки перевозчика и возьмите телефонный номер компании
                        li.price__item
                            | Созвонитесь с диспетчером фирмы, обсудите детали эвакуации в Москве/МО и стоимость заказа
                        li.price__item
                            | Сравните цены и условия перевозки у нескольких компаний, выберите наиболее подходящий для себя вариант