.call {
  padding: 9rem 0 8rem;
  background-color: var(--color-white);

  @include large-tablet {
    padding: 5rem 0;
  }

  @include large-mobile {
    position: relative;
  }

  &__title {
    margin-bottom: 4.5rem;

    @include large-tablet {
      margin-bottom: 2.5rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include line-height(26, 31);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include large-desktop {
      @include line-height(24, 28);
    }

    @include large-tablet {
      @include line-height(21, 25);
    }

    @include large-mobile {
      font-size: inherit;
    }
  }

  &__content {
    flex: 0 1 70rem;

    @include large-desktop {
      flex: 0 1 67rem;
    }
  }

  &__image {
    flex: 0 1 67.7rem;

    @include large-desktop {
      flex: 0 1 55.7rem;
    }

    @include large-mobile {
      position: absolute;
      width: 29rem;
      z-index: -1;
      right: 0;
      top: 0;
    }
  }
}